# =========================
# BACKEND
# =========================
BACKEND_HOST=localhost
BACKEND_PORT=3000

# =========================
# FRONTEND
# =========================
FRONTEND_API_URL=http://localhost:3000

# =========================
# DATABASE
# =========================
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_db