# =========================
# BACKEND
# =========================
BACKEND_PORT=3000

# =========================
# FRONTEND
# =========================
VITE_API_URL=http://localhost:3000

# =========================
# DATABASE
# =========================

# Для backend внутри Docker Compose:
DB_HOST=db

# Для локального запуска backend вне Docker:
# DB_HOST=localhost

DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=app_db